
.container-3 {
  display:flex;
  margin:0;
  height:100vh;
}
.container-1 {
  height:50vh;
}
.container-flex {
  display: flex;
  padding: 0 15px;
}


.all-box {
  margin: 15px;
  height: 30vh;
  width:23vw;
}
.old-box {
  margin:15px;
  margin-top:0;
  width:69vw;
  height:10vh;
}

.req-inc {
  width:70vw;
}
.consult {
  border-left: 1px solid grey;
  width:30vw;
}
.req {
  border-bottom: 1px solid grey;
}


.count {
  padding: 0px 30px;
  margin-bottom: 0;
}
